<h1>Post of the user</h1>

<%= render "shared/user", user: @user %>

<div>
    <% @user.recent_posts.each_with_index do 
    |post, index| %>
        <h2>Post #<%= index + 1 %></h2>
         <a href=<%= "/users/#{@user.id}/posts/#{post.id}"%>>
            <p><%= post.text %><p>
         </a>
       <%= render "shared/post",  post: post %>
        <div>
         <h2>Comments</h2>
       <% post.recent_comments.each do |comment| %>
        <span> <%= comment.author.name %> </span>
        <span> <%= comment.text %> </span>
       <% end %>
       </div>
    <% end %>
</div>