<h1>Show the detail of the post</h1>

<h2>Post <%= @post.id%> by <%= @user.name %></h2>
<%= render "shared/post",  post: @post %>
<p><%= @post.text %></p>
<div>
    <h2>Comments</h2>
    <% @comments.each do |comment| %>
        <span> <%= comment.author.name %></span> 
        <span> <%= comment.text %> </span>
    <% end %>  
</div>
