<h2>Post <%= @post.id%> by <%= @user.name %></h2>
<%= render "shared/post",  post: @post %>
<p><%= @post.text.slice(0..120) %></p>
<%= form_with model: @like, url:  user_post_likes_path(@user, @post) do |form|%>
    <%= form.submit 'ðŸ‘', class: 'submit' %>
<%end%>
<div class="main_comment">
    <h2>Comments</h2>
    <% @comments.each do |comment| %>
       <div class="comment">
        <h6> <%= comment.author.name %> </h6>
        <p> <%= comment.text %> </p>
        </div>
    <% end %>  
<div>
    <%= link_to "Add Comment", new_user_post_comment_path(@user, @post), 
    class: "comments-btn" %>
</div>
</div>
